
<% if obj.errors.any? %>
<div class ="container">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="alert alert-danger">
      <div class="alert-heading">
        <h2 class ="alert-title">Unable to save because of
          <%= pluralize(obj.errors.count, "error") %>
        </h2>
        <div class="alert-body">
          <ul>
            <% obj.errors.full_messages.each do |msg| %>
              <li> <%= msg %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </d iv>
  </div>
</div>
<% end %>
