<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class="display-3">Welcome to Art Agent!</h1>
    <p class="lead">I'm here to help you sell more art and build better relationships with your buyers.</p>
    <hr class="m-y-2">
    <p>Check here for the latest updates.</p>
    <p class="lead">
      <%= link_to "View Inventory", products_path, class: "btn btn-primary btn-lg btn-xlg", role: "button" %>
    </p>
  </div>
  </div>
</div>
