<h2 align="center"><%= @product.title %> </h2>

  Title:
</p>
 <p>
  Description: <%= @product.description %>
</p>
<p>
  <%= link_to "Edit This Article", edit_product_path(@product) %>
</p>
<p>
  <%= link_to "Back to Products", products_path %>
</p>
