<nav class="ontainer">
  <footer class="footer">
  <small>Copyright &copy; <a href="http://www.dylantarre.com>">Art Agent</a>
  by Dylan Tarre</small>
<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Inventory", products_path %></li>
    <li><%= link_to "Artists", products_path %></li>
    <li><%= link_to "Help", products_path %></li>
  </ul>
</nav>


  </footer>
</nav>
