<nav class="navbar navbar-dark navbar-full bg-inverse">
  <div class="nav navbar-nav">
    <%= link_to "Art Agent", root_path, class: "navbar-brand", id: "logo" %>
    <%= link_to "Inventory", products_path, class: "nav-item nav-link", id: "link" %>
    <a class="nav-item nav-link" href="#">Artists</a>
    <a class="nav-item nav-link" href="#">Buyers</a>
  </div>
</nav>
